@import url(//fonts.googleapis.com/css?family=Baloo+Chettan+2);

body {
  font-family: 'Baloo Chettan 2', cursive;
  background-color: #1B321C;
}

#content-wrapper {
}

#page-content {
  width: 50%;
  min-width: 500px;
  border: 1px solid #466D48;
  border-radius: 20px;
  moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background-color: #466D48;
  padding: 30px;
  display: block;
  margin: 0 auto !important;
  color: white;
}
