@import url(//fonts.googleapis.com/css?family=Actor);

body {
  font-family: Actor;
  background-color: #324039;
}

#content-wrapper {
}

#page-content {
  width: 50%;
  min-width: 500px;
  border: 1px solid #0a5914;
  border-radius: 20px;
  moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background-color: #14663D;
  padding: 30px;
  display: block;
  margin: 0 auto !important;
  color: white;
}
